/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia 
4. Visuales - Bos shadow, border-radius, etc.
5. Otros
*/
/* =====VALORES DE LA RAIZ Y VARIABLES======= */
:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
/* =====REGLA GENERAL PARA CENTRADO DE LA CAJA======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
/* =====HEADER======= */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  align-items: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  /* align-self: center; */
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  text-align: center;
  /* align-self: center; */
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
/* =====BOTON DEL HEADER ======= */
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 114.5px);
  top: 266px;
  display: block;
  margin-top: 32px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); /* Sombra*/
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 5px;
  background-image: url("../assets/icons/down-arrow.svg");
}
/* =====MAIN======= */
main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  /* text-align: center; */
  text-align: -webkit-center;
  background-color: #e5e5e5;
}
/* =====IMAGEN EN EL MAIN ======= */
.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* =====TITULO EN EL MAIN ======= */
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
/* =====P EN EL MAIN ======= */
.main-exchange-container p {
  margin-bottom: 48px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
/* =====SECCION SCROLL HORIZONTAL TABLAS DIVISAS Y COMISION======= */
.main-tables-container {
  width: 85%;
  display: flex;
  align-items: baseline;
  height: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  padding: 1rem 0;
}
.main-tables-container::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.main-tables-container::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}
/* =====ESTA ES LA SECCION DE LA TABLAS DE DIVISAS Y COMISION======= */
.main-currency-table,
.main-commission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 250px;
  margin: 0 auto;
  scroll-snap-align: center;
  font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--tittle,
.main-commission-table .commission-table--tittle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  font-family: "DM sans", sans-serif;
}
.main-commission-table .commission-table--tittle {
  /* margin-top: 40px; */
  color: var(--secondary-blue);
}
.currency-table--container,
.commission-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 159px;
  margin: 0 auto;
}
.currency-table--container table,
.commission-table--container table {
  width: 100%;
  height: 100%;
  text-align: center;
}
.currency-table--container td,
.commission-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
/* =====SECCION DE REDONDEADO BORDES EN TABLAS DE DIVISA Y COMISION ======= */
.currency-table--container .table__top-left,
.commission-table--container .table__top-left {
  border-radius: 8px 0px 0px 0px;
}
.currency-table--container .table__top-right,
.commission-table--container .table__top-right {
  border-radius: 0px 8px 0px 0px;
}
.currency-table--container .table__bottom-left,
.commission-table--container .table__bottom-left {
  border-radius: 0px 0px 0px 8px;
}
.currency-table--container .table__bottom-right,
.commission-table--container .table__bottom-right {
  border-radius: 0px 0px 8px 0px;
}
/* =====SECCION DE ESTILOS PARA PRECIOS TABLAS DIVISAS Y COMISION ======= */
.currency-table--container
  .table__right
  .commission-table--container
  .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
/* =====SECCION ICONOS SUBE Y BAJA LOS PRECIOS DE LAS TABLAS ======= */
.currency-table--container .down {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* =====SECCION DE LAS FECHAS DE ACTUALIZADO  ======= */
.currency-table--date,
.commission-table--date {
  width: max-content;
  height: 31px;
  margin: 16px auto 0;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.commission-table--date {
  background-color: var(--soft-blue);
}
.currency-table--date p,
.commission-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
/* =====SECCION DE LAS TABLAS DE DETALLES DEL PRODUCTO ======= */
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
/* =====logo centrado  ======= */
.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -12px;
  left: calc(50% - 20px);
  background-image: url("../assets/icons/batata.svg");
}
/* =====Titulo de la seccion Producto ======= */
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 64px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
/* =====Parrafo de la seccion Producto ======= */
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
/* =====GENERAL para las tarjetas de Producto ======= */
.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 152px;
  margin: 16px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
/* =====Titulo de las tarjeta de Producto ======= */
.product-card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
/* =====Cuerpo  de la Tarjeta Producto ======= */
.product-card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
/* =====ICONO RELOJ tarjeta de Producto 1 ======= */
.product-detail--icon-card__clock {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/clock.svg");
}
/* =====ICONO ojo tarjeta de Producto 2 ======= */
.product-detail--icon-card__eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/eye.svg");
}
/* =====ICONO PESOS tarjeta de Producto 3 ======= */
.product-detail--icon-card__money {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/dollar-sign.svg");
}
/* =====ICONO CHECK tarjeta de Producto 4 ======= */
.product-detail--icon-card__check {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/check-circle.svg");
}
/* =====esta es la seccion DE LA IMAGEN NARANJA ======= */

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;
  background-image: url("../assets/img/bitcoinbaby2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 64px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;
  color: var(--just-white);
}
/* =====esta es la seccion principal de las tablas de precios de los planes======= */
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 64px;
  height: auto;
  /* text-align: center; */
  text-align: -webkit-center;
  background-color: #e5e5e5;
}
/* =====esta seccion es para hacer el Scroll horizontal de las tarjetas ======= */
.plans-container--slider {
  width: 85%;
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
}
.plans-container--slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}
/* =====esta es la seccion de las tablas de precios de los planes TITULO Y PARRAF0======= */
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  padding-top: 64px;
  margin-bottom: 50px;
}
.plans--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.plans--title p {
  padding-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
/* =====esta es la seccion de PRECIO TARJETA DE MES ======= */
.plans-container--card__month {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 210px;
  max-width: 300px;
  height: 247px;
  margin: 50px 4px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.econommy {
  position: absolute;
  width: 101px;
  height: 31px;
  padding: 6px;
  top: -15px;
  left: calc(50% - 50px);
  font-size: 1.2rem;
  background-color: var(--secondary-blue);
  border-radius: 8px;
  color: var(--just-white);
}
/* =CALL TO ACTION - BOTON  del MES = */
.plan-card-ca__month {
  width: 150px;
  height: 48px;
  margin-top: 16px;
  background-color: #e5e5e5;
  border: 2px solid var(--secondary-blue);
  border-radius: 4px;
  font-family: "DM sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plan-card-ca__month span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/grey-right-arrow.svg");
  vertical-align: text-bottom;
}
/* =Este es el signo de $  para MES Y AÑO= */
.plan-card--price sup {
  font-size: 1.2rem;
  font-weight: 500;
  vertical-align: 25px;
}

/* =====esta es la seccion de los Titulo y PRECIO de las tarjetas MES y AÑO ======= */
.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
/* =Este es el texto P para MES Y AÑO= */
.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 500;
  line-height: 14px;
}
/* =====esta es la seccion de PRECIO TARJETA DE AÑO ======= */
.plans-container--card__year {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 210px;
  max-width: 300px;
  height: 247px;
  margin: 50px 4px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.recomended {
  position: absolute;
  width: 101px;
  height: 31px;
  padding: 6px;
  top: -15px;
  left: calc(50% - 50px);
  font-size: 1.2rem;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}
/* =CALL TO ACTION - BOTON  del AÑO = */
.plan-card-ca__year {
  width: 150px;
  height: 48px;
  margin-top: 16px;
  background-color: #e5e5e5;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: "DM sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plan-card-ca__year span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}
/* =====esta es la seccion de PRECIO TARJETA DE POR VIDA ======= */
.plans-container--card__life {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 210px;
  max-width: 300px;
  height: 247px;
  margin: 50px 4px 0;
  padding: 0 15px;
  background-color: var(--black);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.life {
  position: absolute;
  width: 101px;
  height: 31px;
  padding: 6px;
  top: -15px;
  left: calc(50% - 50px);
  font-size: 1.2rem;
  background-color: var(--warm-black);
  border: solid 2px var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}
/* =Este es el titulo  de por VIDA= */
.plan-card--title__life {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--off-white);
}
.plan-card--title__life p {
  padding-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--grey);
}
/* =Este es el signo de $  de por VIDA= */
.plan-card--price__life sup {
  font-size: 1.2rem;
  font-weight: 500;
  vertical-align: 25px;
}
/* =Este es el valor del precio de por VIDA= */
.plan-card--price__life {
  padding: 5px 0;
  font-size: 5.2rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--just-white);
}
/* =Este es el texto P de po VIDA= */
.plan-card--saving__life {
  font-size: 1.2rem;
  color: var(--just-white);
  font-weight: 500;
  line-height: 13px;
}
/* =CALL TO ACTION - BOTON  de por VIDA = */
.plan-card-ca__life {
  width: 150px;
  height: 48px;
  margin-top: 16px;
  background-color: var(--warm-black);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: "DM sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--just-white);
}
.plan-card-ca__life span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/grey-right-arrow.svg");
  vertical-align: text-bottom;
}
/* =====esta es la seccion del FOOTER ======= */
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%; /* con este 50% se acomodan las dos secciones centradas horizontal */
  justify-content: center;
  align-items: center;
}
/* =seccion izquierda del FOOTER = */
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 8px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}
/* =seccion de los creditos= */
.credito {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--just-white);
  text-align: center;
  background-color: var(--bitcoin-orange);
}
.credito a {
  color: var(--black);
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  color: var(--just-white);
}
